<div class="flex h-full w-full flex-row items-center justify-center">
    <MudIconButton Href="/homereturn" Color="Color.Inherit" Icon="@Icons.Material.Rounded.House" />
    <MudIconButton Href="/swipe" Color="Color.Inherit" Icon="@Icons.Material.Rounded.MusicNote" />
    <MudIconButton Href="/chats" Color="Color.Inherit" Icon="@Icons.Material.Rounded.Message" />
    <MudIconButton Href="/profile" Color="Color.Inherit" Icon="@Icons.Material.Rounded.Person" />
</div>