<div class="flex h-full w-full flex-row items-center justify-center">
    <MudIconButton Href="/matches" Color="Color.Inherit" Icon="@Icons.Material.Rounded.MusicNote" />
    <MudIconButton Href="/chats" Color="Color.Inherit" Icon="@Icons.Material.Rounded.Message" />
    <MudIconButton Href="/profile" Color="Color.Inherit" Icon="@Icons.Material.Rounded.Person" />
</div>